---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry:  CollectionEntry<"books">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.id}`} class="relative group flex flex-nowrap py-3 px-4 pr-10 rounded-lg theme-card border transition-colors duration-300 ease-in-out">
    {entry.data.cover && (
      <div class="w-32 h-48 mr-4">
        <img
          src={entry.data.cover}
          alt={`${entry.data.title} cover`}
          loading="lazy"
          width="333"
          height="500"
          class="w-full h-full object-cover rounded"
        />
      </div>
    )}
    <div class="flex flex-col flex-1 truncate">
      <div class="font-semibold text-lg md:text-xl theme-heading">
        {entry.data.title}
      </div>
      <div class="text-sm md:text-base mb-2">
        {entry.data.author}
      </div>
      <div class="text-sm md:text-base text-wrap">
        {entry.data.description}
      </div>
    </div>
    <span class="pixel-arrow pixel-arrow-right" aria-hidden="true">
      <span style="--x: 2; --y: 0"></span>
      <span style="--x: 3; --y: 1"></span>
      <span style="--x: 4; --y: 2"></span>
      <span style="--x: 3; --y: 3"></span>
      <span style="--x: 2; --y: 4"></span>
      <span style="--x: 0; --y: 2"></span>
      <span style="--x: 1; --y: 2"></span>
      <span style="--x: 2; --y: 2"></span>
      <span style="--x: 3; --y: 2"></span>
    </span>
  </a>
  
  
  
